@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --white: hsl(0, 0%, 100%);
  --pink-shadow: rgba(255, 82, 193, 0.218778);
  --dark-shadow: rgba(0, 37, 46, 0.223053);
  --grey: hsl(208, 12%, 55%);
  --cyan: hsl(192, 100%, 49%);
}

/* General Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--very-dark-cyan);
  font-family: var(--primary-font);
  font-weight: 400;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Header */
.header {
  width: 87.2%;
  margin: 2.4rem auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 9.6rem;
}

.btn-try {
  border: 1px solid var(--pink);
  box-shadow: 0px 0px 5px var(--pink-shadow);
  border-radius: 11.7647px;
  font-size: 0.94118rem;
  line-height: 1.3rem;
  color: var(--pink);
  padding: 0.529rem 1.776rem 0.524rem 1.824rem;
}

/* Main */

.main {
  margin-top: 11.2rem;
  text-align: center;
}

/* Shared Styles */

.paragraph {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.btn-cta {
  display: inline-block;
  background: var(--pink);
  box-shadow: 0px 3px 7px var(--dark-shadow);
  border-radius: 20px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--white);
  padding: 1.1rem 3.9rem 1.1rem 4rem;
}

.section-heading {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 4rem;
}

.main-heading,
.cta-heading {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

/* Hero */

.main-heading {
  width: min(74.66667%, 280px);
  margin-inline: auto;
  position: relative;
}

.main-heading::after {
  content: "";
  width: 100%;
  height: 209px;
  background-image: url("../images/screen-mockups.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -50.9rem;
  left: 0;
}

.hero .paragraph {
  margin: 2.4rem auto 0;
  width: min(78.93333%, 296px);
}

.hero .btn-cta {
  margin-top: 4.8rem;
}

.stats {
  margin-top: 45.58rem;
  display: flex;
  flex-direction: column;
  gap: 11.03rem;
}

.stats-text {
  font-size: 1.52381rem;
  line-height: 2.3rem;
  color: var(--grey);
}

.stats-number {
  display: block;
  font-weight: 700;
  width: fit-content;
  margin-inline: auto;
  font-size: 6.09524rem;
  line-height: 9.1rem;
  color: var(--very-dark-cyan);
  position: relative;
}

.stats-number::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
}

.stats-text:nth-child(1) .stats-number::before {
  height: 35.656px;
  width: 35.55556px;
  background-image: url("../images/icon-communities.svg");
  top: -2.547rem;
}

.stats-text:nth-child(2) .stats-number::before {
  height: 27.87457px;
  width: 27.31707px;
  background-image: url("../images/icon-messages.svg");
  top: -2.23rem;
}

.section {
  padding: 4rem 0;
  margin-top: 15rem;
}

.grow-section,
.users-section {
  position: relative;
  background-color: var(--very-pale-blue);
}

.grow-section {
  margin-top: 11.2rem;
}

.grow-section::before,
.grow-section::after,
.users-section::before,
.users-section::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: absolute;
  left: 0;
}

.grow-section::before {
  background-image: url("../images/bg-section-top-mobile-1.svg");
  background-size: 100% 112px;
  height: 11.2rem;
  top: -11.2rem;
}

.grow-section::after {
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
  background-size: 100% 52px;
  height: 5.2rem;
  bottom: -5.2rem;
}

.users-section::before {
  background-image: url("../images/bg-section-top-mobile-2.svg");
  background-size: 100% 103px;
  height: 10.3rem;
  top: -10.3rem;
}

.users-section::after {
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
  background-size: 100% 101px;
  height: 10.1rem;
  bottom: -10.1rem;
}

.illustration-wrapper {
  width: min(100%, 280px);
  height: 280px;
  margin-inline: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.grow-section .illustration-wrapper {
  background-image: url("../images/illustration-grow-together.svg");
}

.conversations-section .illustration-wrapper {
  background-image: url("../images/illustration-flowing-conversation.svg");
}

.users-section .illustration-wrapper {
  background-image: url("../images/illustration-your-users.svg");
}

.section .paragraph {
  width: min(85.33333%, 320px);
  margin: 1.6rem auto 0;
}

/* Call to Action */

.cta {
  margin-top: 14.1rem;
}

.cta .btn-cta {
  margin-top: 4rem;
}

/* Footer */

.footer {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  position: relative;
  padding: 5.6rem 2.8rem 1.6rem;
  margin-top: 30.4rem;
}

.footer::before {
  content: "";
  height: 53px;
  width: 100%;
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-size: 100% 53px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: -53px;
}

.footer .paragraph {
  margin-top: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.newsletter-heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.newsletter-form {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: flex-end;
}

.form-input {
  background: var(--white);
  border-radius: 6px;
  border: none;
  width: 100%;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--very-dark-cyan);
  padding: 1.2rem 1.6rem;
}

.btn-subscribe {
  background: var(--pink);
  border-radius: 5px;
  padding: 1.2rem 4.1rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--white);
  border: none;
}

.footer-logo {
  width: 20rem;
  margin-top: 10.4rem;
}

.contact-details {
  margin: 4rem 0 0 3.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.contact-detail {
  position: relative;
}

.contact-detail::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 0;
  left: -3.2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-detail:nth-child(1)::before {
  background-image: url("../images/icon-phone.svg");
}

.contact-detail:nth-child(2)::before {
  background-image: url("../images/icon-email.svg");
}

.social-icons {
  display: flex;
  gap: 1.733rem;
  margin-top: 4.8rem;
}

.social-icon {
  font-size: 2.3rem;
  color: var(--white);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 4.6rem;
}

.attribution a {
  color: var(--white);
}

/* Media Queries */
@media screen and (min-width: 700px) {
  /* Header */
  .header {
    width: min(90.06944%, 1297px);
    margin: 7.8rem 6.3rem 0 8rem;
  }

  .header-logo {
    width: 24rem;
  }

  .btn-try {
    box-shadow: 0px 0px 9px var(--pink-shadow);
    border-radius: 20px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 0.9rem 3rem 0.9rem 3.1rem;
    transition: all 0.5s ease-in-out;
  }

  .btn-try:hover {
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
  }

  /* Main */

  .main {
    margin-top: 22.5rem;
  }

  /* Shared Styles */

  .paragraph {
    font-size: 2rem;
    line-height: 3rem;
  }

  .btn-cta {
    box-shadow: 0px 6px 13px var(--dark-shadow);
    border-radius: 40px;
    font-size: 2rem;
    line-height: 3rem;
    padding: 2.5rem 9.9rem 2.5rem 10rem;
  }

  .section-heading {
    font-size: 4rem;
    line-height: 6rem;
    margin-top: 0;
  }

  .btn-subscribe,
  .btn-cta {
    transition: all 0.5s ease-in-out;
  }

  .btn-subscribe:hover,
  .btn-cta:hover {
    background: var(--light-pink);
    cursor: pointer;
  }

  /* Hero */

  .main-heading {
    width: fit-content;
    font-size: 4.8rem;
    line-height: 7.2rem;
  }

  .main-heading::after {
    height: 720px;
    bottom: -108.5rem;
  }

  .hero .paragraph {
    margin: 2.6rem auto 0;
    width: min(100%, 600px);
  }

  .hero .btn-cta {
    margin-top: 4.9rem;
  }

  .stats {
    margin: 100rem auto 0;
    flex-direction: row;
    justify-content: space-between;
    width: min(100%, 880px);
  }

  .stats-text {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  .stats-number {
    font-size: 9.6rem;
    line-height: 14.4rem;
    margin-bottom: 0.2rem;
  }

  .stats-text:nth-child(1) .stats-number::before {
    height: 56px;
    width: 56px;
    background-image: url("../images/icon-communities.svg");
    top: -4rem;
  }

  .stats-text:nth-child(2) .stats-number::before {
    height: 50px;
    width: 49px;
    background-image: url("../images/icon-messages.svg");
    top: -4rem;
  }

  .section {
    padding: 0;
    margin-top: 15rem;
    text-align: left;
  }

  .flex-container {
    display: flex;
    width: min(83.33333%, 1200px);
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
  }

  .grow-section {
    margin-top: 29.5rem;
    /* padding-bottom: 1rem; */
  }

  .conversations-section {
    margin-top: 25rem;
  }

  .grow-section .flex-container {
    flex-direction: row-reverse;
  }

  .users-section .flex-container {
    flex-direction: row-reverse;
  }

  .flex-container .text-wrapper {
    width: 520px;
  }

  .grow-section::before {
    background-image: url("../images/bg-section-top-desktop-1.svg");
    background-size: 100% 165px;
    height: 16.5rem;
    top: -16.5rem;
  }

  .grow-section::after {
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
    background-size: 100% 139px;
    height: 13.9rem;
    bottom: -13.9rem;
  }

  .users-section::before {
    background-image: url("../images/bg-section-top-desktop-2.svg");
    background-size: 100% 156px;
    height: 15.6rem;
    top: -15.6rem;
  }

  .users-section::after {
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
    background-size: 100% 139px;
    height: 13.9rem;
    bottom: -13.9rem;
  }

  .illustration-wrapper {
    width: 560px;
    height: 560px;
  }

  .grow-section .illustration-wrapper {
    background-image: url("../images/illustration-grow-together.svg");
  }

  .conversations-section .illustration-wrapper {
    background-image: url("../images/illustration-flowing-conversation.svg");
  }

  .users-section .illustration-wrapper {
    background-image: url("../images/illustration-your-users.svg");
  }

  .section .paragraph {
    width: min(100%, 520px);
    margin: 2.6rem 0 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  /* Call to Action */

  .cta {
    margin-top: 22rem;
  }

  .cta-heading {
    font-size: 4rem;
    line-height: 6rem;
  }

  .cta .btn-cta {
    margin-top: 4.2rem;
  }

  /* Footer */

  .footer {
    padding: 12.5rem 2.8rem 1rem;
    margin-top: 33.2rem;
  }

  .footer::before {
    height: 158px;
    background-image: url("../images/bg-footer-top-desktop.svg");
    background-size: 100% 158px;
    top: -155px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 340px 520px;
    grid-template-rows: auto;
    justify-content: space-between;
    width: min(100%, 1200px);
    margin-inline: auto;
  }

  .contact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .newsletter {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer .paragraph {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .newsletter-heading {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  .newsletter-heading + .paragraph {
    width: min(100%, 344px);
  }

  .footer-logo {
    width: 24rem;
    margin-top: 0;
  }

  .footer-logo + .paragraph {
    margin-top: 2.7rem;
  }

  .contact-details {
    margin: 2.4rem 0 0 3.2rem;
    font-size: 1.6rem;
  }

  .social-icons {
    gap: 2.4rem;
    margin-top: 7.6rem;
  }

  .social-icon {
    font-size: 3.6rem;
    line-height: 3.6rem;
    transition: all 0.5s ease-in-out;
  }

  .social-icon:hover {
    color: var(--cyan);
  }

  .attribution {
    margin-top: 8.2rem;
  }

  .attribution a {
    transition: all 0.5s ease-in-out;
  }

  .attribution a:hover {
    color: var(--cyan);
  }
}

@media screen and (min-width: 920px) {
  .newsletter-form {
    margin-top: 4rem;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }
}

@media screen and (min-width: 1441px) {
  /* Header */
  .header {
    margin: 7.8rem auto 0;
  }
}
